<div class="row">
  <h2><%= @idea.title %></h2>

  <p><%= @idea.description %></p>

  <nav>
    <div>
      <ul class="button-group radius round">
        <% if current_user.member_idea?(@idea) %>
          <%= link_to "Leave", leave_idea_path(@idea), method: :delete, data: { confirm: "Sorry to see you go!" }, :class => "button tiny radius round" %>
        <% else %>
          <%= link_to "Join", join_idea_path(@idea), method: :post, :class => "button tiny radius round" %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to "Delete Idea", [@group, @idea], method: :delete, data: { confirm: "Are you sure you want to delete idea?" }, :class => "button tiny radius round" %>
        <% end %>
      </ul>
    </div>
  </nav>

  <h3>Member list</h3>

  <ul>
    <% @idea.teammates.each do |teammate| %>
      <li><%= teammate.username %></li>
    <% end %>
  </ul>
</div>
