<h2><%= @idea.title %></h2>

<p><%= @idea.description %></p>

<nav>
  <ul>
    <% if current_user.member_idea?(@idea) %>
      <li><%= link_to "Leave", leave_idea_path(@idea), method: :delete, data: { confirm: "Sorry to see you go!" } %></li>
    <% else %>
      <%= link_to "Join", join_idea_path(@idea), method: :post %></li>
  <% end %>
  <% if current_user.admin? %>
    <li><%= link_to "Delete Idea", [@group, @idea], method: :delete, data: { confirm: "Are you sure you want to delete idea?" } %></li>
  <% end %>
</ul>
</nav>

<h3>Member list</h3>

<ul>
  <% @idea.teammates.each do |teammate| %>
    <li><%= link_to teammate.username, teammate %></li>
  <% end %>
</ul>
