<div class="form">
  <h2>Create a Group</h2>
  <%= form_for :group, url: groups_path do |f| %>
    <% if @group.errors.any? %>
      <div id= "error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this idea from saving:</h2>
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div class="medium-6 columns">
    <%= form_for @group do |form| %>
      <div>
        <%= form.text_field :name, placeholder: "Name" %>
      </div>
      <div>
        <%= form.text_area :description, placeholder: "Description" %>
      </div>
      <div>
        <%= form.label :members %>
        <%= form.collection_check_boxes(:users, User.all, :id, :username) %>
      </div>
      <div>
        <%= form.submit "Create Group", :class => "button" %>
      </div>
    <% end %>
  </div>
</div>
