<h2><%= @group.name %></h2>

<p><%= @group.description %></p>

<nav>
  <ul>
    <% if current_user.member?(@group) %>
      <li><%= link_to "Leave", leave_group_path(@group), method: :delete, data: { confirm: "Are you sure you want to leave the group?" } %></li>
    <% else %>
      <li><%= link_to "Join", join_group_path(@group), method: :post %></li>
    <% end %>
  </ul>
</nav>

<h3>Member list</h3>

<ul>
  <% @group.users.each do |user| %>
    <li><%= link_to user.email, user %></li>
  <% end %>
</ul>
