<!DOCTYPE html>
<html>
<head>
  <title>Idea Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navigation">
    <%= link_to "Home", root_path %>
    <% if signed_in? %>
      <%= link_to "Ideas", ideas_path %>
      <%= link_to "Groups", groups_path %>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>
    <%= link_to "Search", search_path %>
  </nav>

    <% if signed_in? %>
      <div>
        <h3>Hello <%= current_user.username %>!</h3>
      </div>
    <% end %>

<%= yield %>

</body>
</html>
