<!DOCTYPE html>
<html>
  <head>
    <title>Idea Board</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navigation" role="navigation">
      <section class="row">
        <!-- Left Nav Section -->
        <ul class="medium-6 columns">
          <% if signed_in? %>
            <li><img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=35"></li>
          <% end %>
          <li class="nav-link"><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li class="nav-link"><%= link_to "Ideas", ideas_path %></li>
            <li class="nav-link"><%= link_to "Groups", groups_path %></li>
            <li class="nav-link"><%= link_to "Sign out", session_path, method: :delete %></li>
          <% else %>
            <li class="nav-link"><%= link_to "Sign in", new_session_path %></li>
            <li class="nav-link"><%= link_to "Sign up", new_user_path %></li>
          <% end %>
        </ul>
        <!-- Right Nav Section -->
        <div class="medium-6 columns nav-search">
            <input type="text" placeholder="Search Ideas">
            <a href="search" class="button expanded">Search</a>
        </div>

      </section>
    </nav>
    <% if signed_in? %>
      <div class="row">
        <h3>Hello, <%= current_user.username %>!</h3>
      </div>
    <% end %>

    <div class="row">
      <%= yield %>
    </div>
    <%= yield :javascript %>

  </body>
</html>
