<!DOCTYPE html>
<html>
  <head>
    <title>Idea Board</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>

    <%= yield %>

    <%= yield :javascript %>

    <%= render "shared/footer" %>
  </body>
</html>
