<!DOCTYPE html>
<html>
  <head>
    <title>Idea Board</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="nav-link"><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li class="nav-link"><%= link_to "Ideas", ideas_path %></li>
            <li class="nav-link"><%= link_to "Groups", groups_path %></li>
            <li class="nav-link"><%= link_to "Sign out", session_path, method: :delete %></li>
          <% else %>
            <li class="nav-link"><%= link_to "Sign in", new_session_path %></li>
            <li class="nav-link"><%= link_to "Sign up", new_user_path %></li>
          <% end %>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Search Ideas">
              </div>
              <div class="large-4 small-3 columns">
                <a href="search" class="alert button expanded">Search</a>
              </div>
            </div>
          </li>
        </ul>

      </section>
    </nav>
    <% if signed_in? %>
      <div>
        <h3>Hello, <%= current_user.username %>!</h3>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
